Source: ros-hydro-qt-ros
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://www.ros.org/wiki/qt_ros
Standards-Version: 3.9.2

Package: ros-hydro-qt-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-qt-build, ros-hydro-qt-create, ros-hydro-qt-tutorials
Description: Simple qt cmake build tools and master-chooser style application template.
